! -------------------------- !
! urxvt settings ~/.Xdefault !
! -------------------------- !


! fonts
urxvt.font:				xft:Ricty:size=12:antialias=true
urxvt.allow_bold:		true
urxvt.letterSpace:      -1

! scrollbar
urxvt*scrollBar:		false

! IME
urxvt.perl-ext-common:	...,xim-onthespot,...
urxvt.inputMethod:		fcitx
urxvt.preeditType:		OnTheSpot
urxvt.perl-ext:			xim-onthespot

! set login shell
urxvt*loginshell:		true

! open links
URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1

! ----- !
! Color !
! ----- !

#define S_base03        #1c1c1c
#define S_base02        #262626
#define S_base01        #4e4e4e
#define S_base00        #585858
#define S_base0         #808080
#define S_base1         #8a8a8a
#define S_base2         #d7d7af
#define S_base3         #ffffd7

#define S_yellow        #af8700
#define S_orange        #d75f00
#define S_red           #d70000
#define S_magenta       #af005f
#define S_violet        #5f5faf
#define S_blue          #0087ff
#define S_cyan          #00afaf
#define S_green         #5f8700

urxvt*background:       S_base3
urxvt*foreground:		    S_base00
urxvt*fadeColor:	   	  S_base3
urxvt*cursorColor:  		S_base01
urxvt*pointerColorBackground:S_base1
urxvt*pointerColorForeground:S_base01

! black
urxvt*color0:			  S_base02
urxvt*color8:			  S_base03
! red
urxvt*color1:			  S_red
urxvt*color9:			  S_orange
! green
urxvt*color2:			  S_green
urxvt*color10:			S_base01
! yellow
urxvt*color3:			  S_yellow
urxvt*color11:			S_base00
! blue
urxvt*color4:			  S_blue
urxvt*color12:			S_base0
! magenta
urxvt*color5:			  S_magenta
urxvt*color13:			S_violet
! cyan
urxvt*color6:			  S_cyan
urxvt*color14:			S_base1
! white
urxvt*color7:			  S_base2
urxvt*color15:			S_base3
